
body{
    background-color: lightslategray;
}
.demo{
    font-size: 2rem;
<<<<<<< HEAD
    width: 200px;
    height: 200px;
    background-color: crimson;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px lightgreen;
    border-radius: 8px;
=======
}
h1{
    text-shadow: 5px 4px #333;
>>>>>>> chang_style
}